@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    margin:0;
    font-family:"Poppins", sans-serif;
    background:#000;
    color:white;
    background-image: url("background.jpg");
}

/* NAVBAR */
header{
    display:flex;
    justify-content:space-between;
    padding:20px 50px;
    background:#111;
    position:fixed;
    width:100%;
    top:0;
    box-shadow:0 0 10px #00eaff80;
}
.logo{ color:#00eaff; font-size:22px; font-weight:bold; }
nav a{
    color:white;
    margin:0 15px;
    text-decoration:none;
    transition:.3s;
}
nav a:hover{ color:#00eaff; }

/* HERO */
.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:120px 10%;
}
.hero .text{ width:50%; }
.hero h1{ font-size:42px; }
.hero span{ color:#00eaff; font-weight:bold; }
.hero p{ margin:15px 0 25px; }

.btns .btn-1, .btns .btn-2{
    padding:10px 20px;
    border-radius:6px;
    margin-right:10px;
    font-weight:bold; text-decoration:none;
}
.btn-1{ background:#00eaff; color:#000; }
.btn-2{ border:2px solid #00eaff; color:#00eaff; }
.btn-2:hover{ background:#00eaff; color:#000; }

.hero img{
    width: 250px;
    border-radius:10px;
    border:3px solid #000000;
}

/* SECCIONES */
.section{ padding:80px 10%; text-align:center; }
.dark{ background:#111; }


#proyectos {
    text-align: center;
    padding-top: 150px;
}

#proyectos h2 {
    color: white;
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: 600;
}

/* CONTENEDOR DE TARJETAS */
.cards {
    display: flex;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
    margin-top: 30px;
}

/* TARJETAS */
.card {
    background: #000;
    color: white;   /* TEXTO BLANCO */
    width: 330px;
    min-height: 230px; /* evita que una se estire más */
    padding: 30px;
    border: 2px solid #00eaff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* BOTÓN CENTRADO */
.card a {
    display: block;
    background: #00eaff;
    padding: 12px;
    border-radius: 8px;
    margin-top: 15px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
/* BOTONES REDES */
.social .red{
    margin:8px;
    padding:8px 15px;
    border-radius:6px;
    font-weight:bold;
    text-decoration:none;
    display:inline-block;
}
.insta{ background:#db30c1; }
.git{ background:#00ff95; color:#000; }
.link{ background:#1d7cff; }

/* FOOTER */
footer{
    background:#00eaff;
    color:#000;
    padding:15px;
    text-align:center;
}
#contacto {
    text-align:center;
    padding:60px 12%;
}

#contacto h2 {
    color:#00eaff;
    font-size:32px;
    margin-bottom:30px;
}

form {
    background:#0d0d0d;
    padding:35px;
    border-radius:10px;
    width:450px;
    margin:auto;
    border:2px solid #00eaff;
}

form input, form textarea {
    width:100%;
    margin-bottom:15px;
    padding:12px;
    border:none;
    outline:none;
    border-radius:6px;
}

form button {
    width:100%;
    background:#00eaff;
    border:none;
    padding:12px;
    font-weight:bold;
    border-radius:6px;
    cursor:pointer;
}

form button:hover {
    background:#009ebb;
}